from setuptools import setup, Extension


setup(
    name="{{ package_name }}",
    version="0.1.0",
    packages=["{{ package_name }}"],
    ext_package="{{ package_name }}",
    ext_modules=[
        
    ],
)
